// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #fafafa;
}

.account-summary {
  text-align: left;
  margin-bottom: 15px;
}

.follower-suggestions {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.avatar {
  border-radius: 50%;
}

.profile-stats {
  max-width: 360px;
  margin-bottom: 30px;
  //float: left;
}

.profile-posts {
  margin-top: 15px;
}