// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
  margin-bottom: 15px;
}

.post-meta {
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #dddddd;

  img {
    margin-right: 10px;
  }
}

.post-details {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #dddddd;
}

.post-actions {
  margin-bottom: 15px;

  .post-like, .post-comment, .liked {
    margin-right: 5px;
    cursor: pointer;
  }

  .post-like:hover, .liked {
    color: #B00100;
  }
}

.comment-box {
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.comment-input:focus {
  box-shadow: none !important;
}

.comments-overflow {
  height: 100px;
  overflow-y: scroll;
}

.post-stats {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #ffffff;
  display: none;

  .inner {
    padding-top: 45%;
  }
}

.nounderline {
  text-decoration: none !important
}
