// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
  margin-bottom: 15px;
}

.post-meta {
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #dddddd;

  img {
    margin-right: 10px;
  }
}

.post-details {
  background-color: #ffffff;
  padding: 15px;
}